@charset "UTF-8";
* {
  font-family: 'Fjalla One', sans-serif; }

body, html {
  background: #fff;
  font-size: 16px;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

.shadow {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4); }

.inner_shadow {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6); }

.inner_light_shadow {
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.2); }

.fill {
  background: url(../assets/imgs/bg-shadow.png) repeat-y; }

.wrapper {
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  z-index: 2; }

/**
	Background Image
*/
#bg-image {
  width: 100%;
  height: 800px;
  position: absolute;
  z-index: 0; }
  #bg-image #background {
    background: url(../assets/imgs/bg.jpg);
    background-size: cover;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  #bg-image .deg {
    position: absolute;
    background: url(../assets/imgs/bg-dg-white.png) repeat-x bottom left;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

#wrapper {
  background: url(../assets/imgs/body-bg.png) repeat-y;
  background-size: 100% 2248px;
  position: relative;
  z-index: 1; }

/**
	Top Panel
*/
#top-panel {
  background: #2b2b2b url(../assets/imgs/bg-dg-dark.jpg) repeat-y center center;
  height: 16px;
  padding: 10px 0;
  width: 100%;
  position: relative;
  z-index: 3; }
  #top-panel .menu {
    position: relative;
    float: right; }
    #top-panel .menu li {
      position: relative;
      float: left; }
      #top-panel .menu li:first-child {
        border-right: #c2c2c2 1px solid; }
      #top-panel .menu li a {
        color: #c2c2c2;
        margin: 0 10px; }
        #top-panel .menu li a:hover {
          color: #ffc90a; }
  #top-panel .ucenter {
    text-transform: uppercase;
    width: 100%;
    max-width: 400px;
    font-size: 0.8em;
    margin-left: 20px; }
    #top-panel .ucenter .city-select::before {
      content: 'Estás en'; }
    #top-panel .ucenter .city-select {
      color: #fff; }
      #top-panel .ucenter .city-select a {
        color: #ffc90a; }

/**
	Advertisement Slider
*/
#ad {
  position: absolute;
  width: 347px;
  top: -14px;
  right: 0; }
  #ad .carousel {
    width: 347px;
    height: 191px;
    background: #ffc90a url("../assets/imgs/promo-box.png") top no-repeat;
    position: relative;
    margin: 0 auto;
    z-index: 1; }
    #ad .carousel .container {
      position: relative;
      width: 100%;
      height: 260px;
      overflow: hidden; }
      #ad .carousel .container a {
        position: absolute;
        text-indent: -9999px;
        display: block;
        width: 297px;
        height: 215px;
        padding: 0 25px;
        top: 32px;
        left: 0; }
        #ad .carousel .container a.download {
          background: url(../assets/imgs/proms/download.png) no-repeat center top; }
        #ad .carousel .container a.suscribe {
          background: url(../assets/imgs/proms/suscribe.png) no-repeat center top; }
  #ad .phone {
    position: relative;
    width: 306px;
    margin: 0 auto;
    height: 67px;
    z-index: 0;
    background: #164d83 url("../assets/imgs/phone-bg.jpg") top no-repeat; }

/**
	Header
*/
#header {
  width: 100%;
  height: 217px;
  background: url("../assets/imgs/header.png") top left no-repeat;
  overflow: auto; }
  #header h1 {
    margin: 100px 0 0 30px; }
    #header h1 a {
      display: block;
      background: url("../assets/imgs/logo.png");
      text-indent: -9999px;
      width: 466px;
      height: 83px; }

/**
	Main Menu
*/
#main-nav {
  height: 48px;
  text-transform: uppercase;
  background: #2b2b2b url(../assets/imgs/bg-dg-dark2.jpg) repeat-y center center; }
  #main-nav .menu li {
    position: relative;
    float: left;
    margin-right: 12px; }
    #main-nav .menu li a {
      color: #ffffff;
      display: block;
      line-height: 48px;
      width: 114px;
      text-align: center; }
      #main-nav .menu li a.selected {
        background: #ffc90a url(../assets/imgs/ls-hover.png) no-repeat center center;
        color: #895813 !important; }
      #main-nav .menu li a:hover {
        color: #ffc90a; }

.searcher {
  background: #feda00 url(../assets/imgs/bg-dg-yellow.jpg) repeat-x;
  height: 55px; }
  .searcher li {
    display: block;
    position: relative;
    float: left;
    height: 55px;
    overflow: hidden; }
  .searcher .box {
    width: 160px; }
    .searcher .box span {
      text-transform: uppercase;
      display: block;
      margin: 7px 20px;
      color: #fff; }
    .searcher .box.blue {
      background: #216bb2; }
    .searcher .box.yellow {
      background: #cf8617; }
  .searcher .search {
    background: url(../assets/imgs/tx.png) repeat;
    width: 340px; }
    .searcher .search span {
      position: relative;
      width: 285px;
      background: #fff;
      font-family: 'Arimo', sans-serif;
      font-size: 0.75em;
      color: #a7a7a7;
      display: inline-block;
      line-height: 29px;
      padding: 0 8px;
      margin: 13px 20px;
      border-radius: 2px;
      cursor: pointer; }
      .searcher .search span b {
        position: absolute;
        display: block;
        width: 33px;
        height: 29px;
        background: url(../assets/imgs/chevron-dwn.png) no-repeat center center;
        background-size: cover;
        right: 0;
        top: 0; }

/**
	Body
*/
#body {
  min-height: 400px; }

/**
	Banner
*/
#banner {
  width: 100%;
  height: 360px; }

/**
	Footer
*/
#footer {
  background: #2b2b2b url(../assets/imgs/bg-dg-dark.jpg) repeat-y center center;
  margin-top: 60px;
  height: 245px;
  overflow: auto;
  position: relative; }
  #footer h1 {
    text-align: center; }
    #footer h1 a {
      margin: 45px 0 0 0;
      height: 53px;
      width: 289px;
      text-indent: -9999px;
      display: inline-block;
      background: url("../assets/imgs/logo-f.png") no-repeat;
      position: relative; }
  #footer .borders {
    margin: 10px 0;
    height: 40px;
    padding: 2px 0 0 0;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b; }
  #footer .menu li {
    position: relative;
    float: left;
    width: 14%; }
    #footer .menu li a {
      text-transform: uppercase;
      font-weight: normal;
      display: block;
      line-height: 40px;
      text-align: center;
      color: #949494;
      font-size: 0.8em; }
      #footer .menu li a:hover {
        color: #ffc90a; }
      #footer .menu li a.selected {
        background: url(../assets/imgs/ls-hover-footer.png) no-repeat center center;
        color: #ffc90a; }
  #footer .social-box {
    width: 150px;
    position: absolute;
    right: -25px;
    top: 50px; }
    #footer .social-box span {
      font-size: 0.6em;
      margin: 0 5px 0 0;
      color: #6a6a6a;
      line-height: 32px; }
    #footer .social-box a {
      display: inline-block;
      vertical-align: top;
      text-indent: -9999px;
      width: 32px;
      height: 31px;
      margin: 0 5px 0 0; }
      #footer .social-box a.facebook {
        background: url("../assets/imgs/social-icons.png") 0 -31px no-repeat; }
        #footer .social-box a.facebook:hover {
          background-position: 0 0; }
      #footer .social-box a.twitter {
        background: url("../assets/imgs/social-icons.png") -32px -31px no-repeat; }
        #footer .social-box a.twitter:hover {
          background-position: -32px 0; }
  #footer .footer-bottom {
    margin: 30px 0 0 0;
    color: #949494; }
    #footer .footer-bottom a {
      display: inline-block;
      padding: 0 10px;
      font-size: 0.55em;
      vertical-align: top;
      color: #949494; }
      #footer .footer-bottom a.left-label {
        border-right: 1px #aeaeae solid;
        margin: 0 0 0 10px; }
    #footer .footer-bottom div {
      vertical-align: top;
      display: inline-block;
      width: 580px; }
      #footer .footer-bottom div p {
        font-family: 'Arimo', sans-serif;
        text-align: center;
        font-size: 0.6em;
        letter-spacing: 1px;
        margin: 0; }

#slider {
  width: 100%;
  height: 360px; }

/**
	Juqery Slider
*/
.jquery-slider {
  overflow: hidden;
  background: #2b2b2b url(../assets/imgs/bg-dg-dark.jpg) repeat-y center center; }
  .jquery-slider ul.s-container {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 0; }
    .jquery-slider ul.s-container li {
      display: block;
      position: absolute;
      margin: 0;
      padding: 0;
      z-index: 0;
      left: 100%; }
      .jquery-slider ul.s-container li:first-child {
        z-index: 1;
        left: 0; }
      .jquery-slider ul.s-container li .s-left-panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        padding: 10px;
        background: rgba(0, 0, 0, 0.8); }
        .jquery-slider ul.s-container li .s-left-panel h2 {
          color: #fff;
          margin-top: 50px;
          font-size: 20px;
          text-align: center;
          text-transform: uppercase; }
          .jquery-slider ul.s-container li .s-left-panel h2 span {
            display: inline-block;
            font-size: 0.8em;
            width: 80%;
            padding: 2.5%;
            margin: 0 7.5%;
            background: rgba(190, 190, 190, 0.8);
            color: #000; }
  .jquery-slider ul.s-nav {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20px; }
    .jquery-slider ul.s-nav li {
      display: block;
      width: 20px;
      background: rgba(255, 255, 255, 0.7);
      margin: 5px 0;
      height: 40px;
      cursor: pointer; }
      .jquery-slider ul.s-nav li:hover, .jquery-slider ul.s-nav li.selected {
        background: #fff; }

/*# sourceMappingURL=main.css.map */